<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Painel administrativo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <style>
    *{
      font-family: 'Montserrat', sans-serif;
    }
    .error {
      border:solid 1px red;
      padding: 5px;
      color:red;
    }
  </style>
</head>
<body>
 <div class="container">
  <h2>{{ title }}</h2>
  <hr>
  {{ message('message') }}

  <form action="/login" method="post">
   <div class="form-group mb-2">
    <label for="">Email</label>
    <input type="text" name="email" class="form-control">
    {{ message('email') }}
   </div>
   <div class="form-group mb-2">
    <label for="">Password</label>
    <input type="text" name="password" class="form-control">
    {{ message('password') }}
   </div>
   <a href="/" class="btn btn-danger float-end" title="Ir para a lista de posts">Voltar</a>
   <button type="submit" class="btn btn-success">Enviar</button>
  </form>
 </div>
</body>
</html>
